<div class="container">

  <h1> Doing Things with People Welcome's You <%= User.find(session[:user_id]).first_name %> </h1>
  <% if session[:user_id] %>
    <a href="/logout">Log Out</a>
  <%end%>

  <h2> Want to Create a Thing to do? If <a href="/create_event">so click here!</a> </h2>


  <% if @events_created %>
  <h2> Your Fabulous Things You've Created to do with People </h2>
    <ul>
    <% @events_created.each do |event| %>
      <li> Thing: <a href="/update_event/<%=event.id%>"> <%= event.name %></a>to be Held on: <%= event.starts_at %> </li>
    <% end %>
    </ul>
  <% end %>
</div>
