<div class="container">

  <h1> Doing Things with People Welcome's You <%= User.find(session[:user_id]).first_name %> </h1>
  <% if session[:user_id] %>
    <a href="/logout">Log Out</a>
  <%end%>

  <h2> Want to Create a Thing to do? I KNOW YOU WANT TO ... do it ... make one down below here!!! </h2>

  <h2 id="response"></h2>

   <div id="create-event-form">
    <form id="create-event" method="post" action="/create_event">
    Name:<input id='name' type="text" name="name" placeholder=" Bedazzling Ponies Thing" > <br><br>
    Location:<input id ="location" type="text" name="location" placeholder=" The Park Behind That House" > <br><br>
    Starts At:<input id ="starts" type="text" name="starts" placeholder="Use the DD-MM-YYYY format"><br><br>
    Ends At:<input id ="ends" type="text" name="ends" placeholder="Use the DD-MM-YYYY format"><br><br>
    <input id="Make" type="submit" value="Make that Thing!">
  </form>

  <h2> Your Fabulous Things You've Created to do with People </h2>
     <% if @events_created %>
     <ul id="events">
    <% @events_created.each do |event| %>
      <li> Thing: <a href="/update_event/<%=event.id%>"> <%= event.name %></a>to be Held on: <%= event.starts_at %> </li>
    <% end %>
    </ul>
  <% end %>

  <h2>Bored? How about some pirate talk!</h2>
   <p>What would you like to say me hearty?</p>

  <form id="pirate" action='/' method='post'>
    <input id="pirate-sentence" type='text' name='sentence'>
    <input id="pirate-submit" type='submit' value='yargh translate me'>
  </form>
  <div id='pirate-response'>
  </div>

</div>
